* {
  margin: 0%;
  padding: 0%;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;

}

/**home **/

body {
  background-color: #d0d2d3;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.items_nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 0 1rem;
}

.items_nav a:hover {
  border-bottom: 2px solid white;
}

.iniciar_compra{
  margin-left: 30px;
  background-color: #479ead;
  color:#d0d2d3;
  font-weight: bold;
  border-color:#479ead; 
}

.iniciar_compra:hover{
  background-color: #0092ac;
  border-color:#0092ac;    
}

.button_class{
  background-color: #479ead;
  color:#d0d2d3;
  font-weight: bold;
  border-color:#479ead; 
}

.button_class:hover{
  background-color: #0092ac;
  border-color:#0092ac;   
}

.list_container {
  display: grid;
  grid-template-columns: 1fr;
}

.title {
  display: grid;
  grid-column: 1 / -1;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 35px;
}

.cards {
  margin-bottom: 20px;
  background-color: #ecf2f3;

}

.cards_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 150px;

}

.card_img_top {
  height: 200px;
  width: auto;
}

.itemName {
  font-size: 19px;
  font-weight: bold;
}

/**Detalle del producto **/
.productDetail {
  border-style: double;
  background-color: #e6e9eb;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 15%;
}

.productDetail h1 {
  color: rgb(4, 12, 22);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-style: double;
}

.productDetail img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.productDetail p {
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  text-align: justify;
}

.productDetail .price{
  padding-top: 10px;font-weight: bold; 
  font-size: 20px;
}

.form_compra{
  margin-bottom: 20%;
}

.counter{
  margin-left: 50px;
}

/**Página Finalizar compra**/

.eliminar{
  margin-left: 35%;
}
.formulario_datos{
  border-style: groove;
  border-radius: 20px;
}

.datos_formulario{
  margin:30px;
  font-weight: bold;
}

.title_compra{
  margin-top:70px;
  margin-bottom: 30px;
}

/**footer **/
.space_footer {
  margin-top: auto;
}

.footer-bg {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #302a2a;
}

svg.bi {
  fill: white;
}

.text-body-secondary {
  color: white;
}

.social_network {
  padding-right: 4%;
}


@media screen and (max-width: 1395px) {

  .cards_container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

  }

  .productDetail img {
    max-width: 70%;
  }
}


@media screen and (max-width: 1000px) {

  .cards_container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

  }
}

@media screen and (max-width: 730px) {

  .cards_container {

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 730px;
    margin: 0 auto;
  }
}