.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/**home **/

body {
  background-color: #d0d2d3;
  flex-direction: column;
  min-height: 185vh;
  border: 10px solid red;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.items_nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 0 1rem;
}

.items_nav a:hover {
  border-bottom: 2px solid white;
}

.list_container {
  height: 80%;
  margin-bottom: 2rem;
}


.App-link {
  color: #61dafb;
}

.cards {
  margin: 10px;
  background-color: #ecf2f3;
}

.cards_container {
  margin-bottom: 100px;

}

.card_img_top {
  object-fit: cover;
  height: 12rem;
}

/**Detalle del producto **/
.productDetail {
  margin: 7%;
  border-style: double;
  background-color: #ffffff;

}

.productDetail h1 {
  color: rgb(4, 12, 22);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #ecf2f3;
  border-style: double;

}

.productDetail img {
  display: block;
  margin: 0 auto;

}

.description {
  border-style: double;
  background-color: #ecf2f3;
}

.description h5 {
  font-weight: bold;
}

.description p {
  padding-right: 2%;
  padding-left: 2%;
  text-align: justify;
}

.description h4 {
  font-size: medium;
}

.button {
  font-size: 20px;
  margin: 7px;
  padding-left: 25px;
  padding-right: 25px;
}

/**footer **/
.space_footer {
  margin-top: auto;
}

.footer-bg {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #302a2a;
}

svg.bi {
  fill: white;
}

.text-body-secondary {
  color: white;
}

.social_network {
  padding-right: 4%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:1326px) {

body {
    min-height: 70vh;
  }

}


@media screen and (max-width:799px) {

  .productDetail img {
    max-width: 70%;
  }
}

